@font-face {
  font-family: "space-mono";
  src: url("/static/space_mono/SpaceMono-Regular.ttf") format("truetype");
  /* You can also include additional font formats for better browser compatibility */
}

:root {
  --bgGradient: linear-gradient(265deg, #3d077f, #070d7f);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "space-mono", sans-serif;
  background-color: white;
}

html {
  background-color: #1c1c1c;
}

#spinny-switcher {
  width: 8.5em;
  height: 8.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s ease;
  transition: all 0.2s ease;
}

#spinny-switcher h1:hover {
  color: red;
  font-size: 2.1em;
  transform: translateX(-25%);
}

#spinny-switcher h1::before {
  content: "keyboard";
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

#spinny-switcher h1:hover::before {
  opacity: 0;
  /* display: none; */
}

#spinny-switcher h1::after {
  content: "🎹";
  opacity: 0;
}

#spinny-switcher h1:hover::after {
  content: "music_note";
  opacity: 1;
  visibility: visible;
}

#spinny-switcher h1 {
  position: absolute;
  transform: translateX(25%);
  color: white;
  font-size: 2em;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s ease;
}

#spinny-switcher img {
  width: 100%;
  height: 100%;
  animation: rotateCircle 20s linear infinite;
}

@keyframes rotateCircle {
  to {
    transform: rotate(1turn);
  }
}

[tabindex]:focus {
  color: #ff00c8;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.noise-bg {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  background: linear-gradient(210deg, rgba(0, 0, 0, 1), rgba(255, 255, 0, 0));
  animation: noiseBgAnimation 1s linear infinite;
}

.noise-slide {
  height: 100vh;
  filter: contrast(10%) brightness(1%);
  background: url("/static/assets/noise-filter.svg");
  animation: noiseSlideAnimation 40s linear infinite;
}

@keyframes noiseSlideAnimation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

.main-tile {
  backdrop-filter: invert(3%) saturate(0%);
  background: linear-gradient(10deg, rgba(0, 0, 0, 1), rgba(255, 255, 0, 0));
  /* background-color: #1c1c1c; */
  margin: 1%;
  border: 1px dotted transparent;
  border-color: white;
}

.landing-list {
  display: inline-block;
}

.landing-list li {
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  color: white;
}

.landing-list li:hover {
  color: grey;
}

.landing-list li.selected {
  color: white;
}
