<div class="container">
  <h2 class="title is-2 is-spaced">Background</h2>
  <div class="content">
    <p>
      I started researching and working on my own software projects in November
      of 2022. By February of 2023 I had found myself as an intern at a very
      small startup called Love Together, I was completely out of my league but
      I learned alot about web-develepment, project management and what it's
      like to work on a software team. After my third and final month at Love
      Together I decided I wanted to move past web-dev and onto something a
      little more complex, so of course, I started learning Rust. I had done
      some C programming during my time in Harvard's CS50 program, but that was
      the extent of my low level programming experience, Though it was (and
      still is) challenging, development in Rust has become my new obsession.
      After getting somewhat comfortable with the language I decided to jump
      into developing something a little more challenging than the excersizes I
      had become used to. My twitter is full of Typescript developers shilling
      their most recent chatGPT clone, so I thought it would be fun to try to do
      the same thing in Rust. This proved much more challenging, fun,
      frustrating, and even fulfilling project than I could have envisioned when
      I started it. Through the development of Espionox I have become a much
      more competent and capable programmer. I learned dependency management,
      TTD, Api design, Docker, System design, and other skills I shouldn't crowd
      this overview with. I am a junior in every sense of the word, but as
      someone with extensive workplace experience outside of tech, I have more
      soft skills than I think most junior developers at my experience level. I
      am eager to learn and apply myself to a project I care about and work with
      a team I can learn from.
    </p>
  </div>
</div>
