{% extends "portfolio/layout.html" %} {% block item %}
<script type="text/hyperscript">
  behavior MarkdownBlock
    init immediately
      measure me then set :w to the result.width
      measure me then set :h to the result.height
      repeat for img in <img/> in me
        set :alt to @alt of img
        add .img to img
        if :alt contains 'small'
          set @width of img to 20
        else if :alt contains 'medium'
          set @width of img to :w * 0.40
        else
          set @width of img to :w * 0.60
        end
      end
    end
  end
</script>

<style>
  .img {
    align-self: center;
  }


  h2 {
    font-size: 1.5rem;
  }

  hr {
    border-color: var(--desert-sand);
  }

  a {
    color: var(--cambridge-blue);
  }

  #markdown-block pre {
    padding: 1rem;
    border-radius: 5px;
  }

  #markdown-block img {
    align-self: center;
  }

  #markdown-block p code {
    color: var(--dim-grey);
    padding: 0.12rem;
    font-weight: 800;
    background-color: var(--desert-sand);
    border-radius: 2px;
  }

  #markdown-block a {
    color: var(--cambridge-blue);
  }

  #markdown-block {
    color: whitesmoke;
  }

  #markdown-block h1 {
    color: var(--bright-pink)
  }

  #markdown-block h2,
  #markdown-block h3,
  #markdown-block h4,
  #markdown-block h5,
  #markdown-block h6 {
    color: var(--desert-sand);
  }

  @media only screen and (max-width: 600px) {
    #markdown-block pre {
      white-space: pre;
      overflow-x: auto;

    }
  }
</style>

<div x-style="flex; flex-col; justify-content:center;
  color:@desert-sand; background-color: @dim-grey;
  p:1.5rem; lg|py:1.5rem; lg|px:4rem;">
  <h1 x-style="font-size: 2rem;text-align:center; mb:0; mt:1; text-shadow: 0 0 2px black; color:@bright-pink">
    {{title}}
  </h1>
  <h2 x-style="font-size:1.5rem; font-weight:0;text-align:center; mt:0; mb:1;">
    {{subtitle}}
  </h2>
  <div id="markdown-block" x-style="mx:4;" _="install MarkdownBlock">
    {%for c in content%}
    {{c|safe}}
    {%endfor%}
  </div>
</div>
{% endblock %}
