<style>
  .about p {
    color: white;
  }

  .about h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  .about section {
    margin: 5rem 15rem;
  }

  .about ul {
    list-style: none;
  }

  .about li {
    color: white;
    margin-left: 2rem;
  }

  .about li::before {
    content: "•";
    margin-right: 0.5rem;
  }
</style>

<div class="about m-2 page-transition">
  <div class="is-flex is-flex-direction-column">
    <div
      class="is-flex is-flex-direction-column is-align-self-center mt-1 px-5"
    >
      <h1 class="is-align-self-center" id="header">Ezra Klitsie</h1>
      <p class="is-flex mt-1 is-align-self-flex-end pl-6 is-size-7">
        aka. voidkandy
      </p>
    </div>

    <div class="mx-3 my-4">
      <h1 class="px-2 is-size-5 has-text-weight-semibold">
        From Music to Code
      </h1>
      <br />
      <p class="px-6">
        What began as a love for guitar and music composition became a passion
        for production and sound design. Ableton was an excellent gateway drug
        into software. Looking back, it's hard to tell if I was more interested
        in the music or just pushing the DAW as far as I could. After completing
        a multimedia music project and spending months grinding self promotion
        on social media, I was dissatisfied. Years of releases, combined with an
        admittedly half baked marketing strategy, had not resulted in the music
        career I naively thought it would, something had to change.
      </p>
      <hr style="border-top: 1px solid grey" />
      <h1 class="px-2 mt-3 is-size-5 has-text-weight-semibold">
        Self Taught Developer
      </h1>
      <br />
      <p class="px-6">
        I had always been interested by programming, but I believed it was 'too
        complicated' for the likes of a grug brain like myself. The
        accessibility that ChatGPT brought to programming was the push I needed
        to really dive into it. I began writing stupid little Python scripts
        with the help of GPT-3.5, and eventually found myself fascinated with
        machine learning models, which led me to moving to a part time position
        at my day job to study machine learning on my own.
        <br />
        <br />
        A few months later I was grinding through the Fast.ai program led by
        Jeremy Howard. I had few classification and fine-tuned models under my
        belt and I wanted to go for something a little more ambitious. So, I
        became an unofficial member of my friend's senior capstone project
        group. We were to build a speech separation model using a RAG
        architecture. We failed, but learned a lot, and I had to admit to myself
        that I had significant gap in my knowledge of computer science that was
        holding me back.
        <br />
        <br />
        Since then, I've taken multiple online computer science courses and
        decided to learn Rust in the hopes that it's complexity would make other
        languages relatively easier to learn, an assumption which has paid off
        for the most part. Since then I've worked on multiple projects and
        gained experience with multiple languages and technologies.
      </p>

      <hr style="border-top: 1px solid grey" />
      <h1 class="px-2 mt-3 is-size-5 has-text-weight-semibold">Experiences</h1>
      <br />
      <p class="px-6">
        My introduction to webdev came when I began as an intern for a small
        startup. I had very little supervision and was thrown into a massive
        MERN stack codebase, I had never written any Typescript before and was
        brand new to document based databses like MongoDB. I started slow but
        eventually became one of the most productive interns on the team, making
        and implementing design decisions on the frontend as well as
        contributing to the payment system on the backend. I'm now comfortable
        developing with JavaScript/TypeScript, but I'm very partial to using
        HTMX on the frontend with either Go or Rust on the backend.
        <br />
        <br />
        I have built my own Rust crate for creating AI Agents and have utilized
        it on multiple projects. Building, updating and maintaining the crate
        has been a great excersize in API and architecture design. I've kept a
        blog of the process which has been great for documentation and in
        deepening my understanding of Rust. Because of this crate, Rust has
        become my language of choice.
        <br />
        <br />
        My favorite personal project by far has been my AI LSP. Building this
        has deepened my understanding of my editor (NVim btw), LSPs and even
        client/server relationships in general. The LSP also uses my AI Agent
        Rust crate under the hood and has informed a lot of API and quality of
        life changes to the library. I'm still actively developing the LSP,
        there is something so satisfying about building a tool that is so
        broadly applicable.
        <br />
        <br />
        Check out the projects page for more information on my personal
        projects.
      </p>
    </div>

    <div class="is-flex is-align-self-center is-flex-direction-column">
      <h1 class="px-2 mt-3 is-size-5 has-text-weight-semibold">
        Read more on my blog
      </h1>
      <a
        href="https://voidkandy.substack.com"
        class="is-align-self-center is-align-items-center"
        style="display: inline-flex"
      >
        <img
          src="/static/assets/substack-logo.svg"
          class="is-flex is-clickable my-3"
          style="filter: invert()"
          alt="substack-icon"
          width="30"
          height="30"
        />
      </a>
    </div>
  </div>
</div>
