<style>
  .about p {
    color: white;
  }

  .about h1 {
    color: white;
    font-size: 3em;
    font-weight: 600;
  }

  .about a {
    color: var(--secondaryColor);
  }

  .about section {
    margin: 5rem 15rem;
  }

  .about ul {
    list-style: none;
  }

  .about li {
    color: white;
    margin-left: 2rem;
  }

  .about li::before {
    content: "•";
    margin-right: 0.5rem;
  }
</style>

<div
  class="is-flex about is-flex-direction-row m-2 page-transition"
  style="height: 100%"
>
  <div class="is-flex is-flex-direction-column">
    <div
      class="is-flex is-flex-direction-column is-align-self-center is-align-items-center mt-1"
    >
      <h1>My name is Ezra Klitsie</h1>
      <p>(aka. voidkandy)</p>
    </div>
    <section>
      <p>
        I spent 5 years as a full time musician, but in 2022 I discovered a
        passion for software:
      </p>
      <ul class="mb-4 mt-2">
        <!-- prettier-ignore -->
        <li>I was an intern at a small startup,
          <a href="https://www.love-together.com/">Love-Together</a> 
        </li>
        <!-- prettier-ignore -->
        <li>I'm the core writer and maintainer of my own LangChain inspired Rust
            library, <a href="https://github.com/voidKandy/espionox_lib">Espionox</a>
        </li>
        <!-- prettier-ignore -->
        <li>I've built / maintained multiple websites using Svelte/React/Htmx</li>
        <li>I've trained / fine-tuned my own machine learning models</li>
      </ul>
      <p>
        Since delving into software, I've been
        <a href="https://voidkandy.substack.com/">keeping a blog</a>
        of my progress. Despite not being enrolled in any institution, I
        approach my learning as a full-time student. I'm driven completely by a
        deep desire to improve myself and my skills in anything I find
        interesting. I'm most drawn to developing tool driven by AI agents,
        though I've also been known to dabble in web development.<br />
      </p>
    </section>
  </div>
</div>
