<style>
  .about p {
    color: #a6a6a6;
  }
  .about h1 {
    color: white;
    font-size: 2em;
  }
  .about h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    font-size: 3em;
    white-space: nowrap;
  }
</style>

<div
  class="is-flex about is-flex-direction-row m-2 page-transition"
  style="height: 100%"
>
  <div class="is-flex is-flex-direction-column">
    <h1>It started with music</h1>
    <p>
      As soon as I graduated highschool in 2018 my life revolved around making
      music. I was a full time artist, producer and manager; I released albums,
      played shows and did all my own marketing.
    </p>
    <br />
    <p>But in 2022 I discovered Programming.</p>
    <br />
    <p>
      Since then, I've been an intern at a small startup, I've written my own
      library in Rust, I am a junior in every sense of the word, but as someone
      with extensive workplace experience outside of tech, I have more soft
      skills than I think most junior developers at my experience level. I am
      eager to learn and apply myself to a project I care about and work with a
      team I can learn from.
    </p>
  </div>
  <h2 class="pl-5 title">? What is voidkandy ?</h2>
</div>
