<style>
  #background.art {
    background-image: url("/static/assets/art/live-1.jpg");
    min-height: 125%;
    background-size: 200%; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: 75% 75%;
    /* Other background-related properties can be added here */
    animation: kenBurns 200s infinite linear alternate;
  }

  @media only screen and (max-width: 767px) {
    #background.art {
      background-image: url("/static/assets/art/live-mobile.jpg");
    }
    #song-player audio {
      width: 50vw;
    }
  }

  .listen {
    margin-top: 7em;
  }

  .listen h1 {
    font-size: 1rem;
    color: white;
    border-bottom: 0.5px dotted white;
  }

  .listen a {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  .listen img {
    transition: all ease-in-out 200ms;
  }

  .listen img:hover {
    transform: scale(1.08);
  }

  .song-list h1 {
    font-size: 3rem;
    color: white;
    border-bottom: 0.5px dotted white;
  }

  .song-list h2 {
    font-size: 1rem;
    transition: all ease-in-out 150ms;
  }

  #audio {
    filter: invert(100%);
    mix-blend-mode: difference;
  }

  #art-content {
    height: 100%;
    overflow: hidden;
  }

  #album-slide-container {
    width: auto;
    white-space: nowrap;
  }

  .full-album-slide {
    gap: 10%;
    overflow: visible;
    width: 100%;
  }

  .full-album-slide img {
    margin: 3% 0 2.5% 2.5%;
    width: 75vh;
    transition: all ease-in-out 400ms;
  }

  .full-album-slide img:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  @keyframes kenBurns {
    0% {
      background-position: 75% 25%;
      background-size: 200%; /* Adjust as needed */
    }
    25% {
      background-position: 45% 75%;
      background-size: 300%; /* Adjust as needed */
    }
    75% {
      background-position: 25% 15%;
      background-size: 250%; /* Adjust as needed */
    }
    100% {
      background-position: 90% 75%; /* Adjust as needed */
      background-size: 200%; /* Adjust as needed */
    }
  }

  @keyframes albumSlideAnimation {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }
</style>

<div id="background" class="art" hx-swap-oob="true"></div>

<div id="art-content" class="page-transition">
  <div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <div
      id="album-slide-container"
      class="is-flex is-flex-direction-column is-justify-content-center"
    >
      <div class="full-album-slide flex-grow is-flex is-flex-direction-column">
        <img
          src="/static/assets/art/album-art/adab.jpeg"
          alt="△⁍⍝ß"
          id="current-song-cover"
        />
      </div>
    </div>

    <div class="mx-5 my-2 is-flex is-flex-direction-column has-text-centered">
      <div class="song-list">
        <h1>△⁍⍝ß</h1>
        {{ range .AllSongs }} {{ if .AudioName }}
        <h2
          hx-get="/player/{{.AudioName}}"
          hx-push-url="?song={{.AudioName}}"
          hx-target="#song-player"
          hx-swap="innerHTML"
          class="clickable"
          _="
             on load
                 set :search to search of the location of the window 
                 if :search includes '{{.AudioName}}'
                    send select to me
                 end
             end 
             on click
                if I do not match .selected
                    send select to me
                end
             end
             on select 
                send reset to <h2/> in closest parent <div/>
                add .selected to me
                wait for reset
             end
             on reset
                remove .selected from me
             end"
        >
          {{.Name}}
        </h2>
        {{ end }} {{ end }}
      </div>

      <div class="is-align-self-flex-end listen">
        <h1>Listen to more</h1>
        <div
          class="m-2 is-flex is-flex-direction-row is-justify-content-space-evenly is-align-items-center"
        >
          <a
            href="https://open.spotify.com/artist/19BbMfHJwXYA8zKWAs8cel?si=G4H6q3RNTiKU8OcWtUk0rg"
          >
            <img
              src="/static/assets/streaming-logos/spotify-logo.svg"
              width="20rem"
              style="filter: invert(100%)"
              alt="SpotifyLogo"
            />
          </a>
          <a href="https://music.apple.com/us/artist/void-kandy/1517903121">
            <img
              src="/static/assets/streaming-logos/apple-logo.svg"
              width="20rem"
              style="filter: invert(100%)"
              alt="AppleLogo"
            />
          </a>
          <a
            href="https://voidkandy.bandcamp.com/?from=search&search_item_id=3990916999&search_item_type=b&search_match_part=?&search_page_id=3011954228&search_page_no=1&search_rank=3&search_sig=62ec632d0b1dd1a0a90e1bde5b7139d3"
          >
            <img
              src="/static/assets/streaming-logos/bandcamp-logo.png"
              width="20rem"
              alt="BandCampLogo"
            />
          </a>
          <a href="https://www.youtube.com/@Voidkandy">
            <img
              src="/static/assets/streaming-logos/youtube-logo.svg"
              width="20rem"
              style="filter: invert(100%)"
              alt="YoutubeLogo"
            />
          </a>
        </div>
      </div>
    </div>

    <div hx-swap-oob="true" id="spinny-switcher" class="is-align-self-center">
      <h1
        id="switch-from-art"
        class="art material-symbols-outlined clickable"
        hx-get="/"
        hx-target="#art-content"
        hx-trigger="click delay:200ms"
        hx-select="#route-content"
        hx-push-url="true"
        hx-swap="outerHTML transition:true"
      ></h1>
      <img src="/static/assets/musician-text.svg" alt="SpinnyGuy" />
    </div>
  </div>
</div>
<div id="footer-left" hx-swap-oob="true">
  <div
    id="song-player"
    class="song-player-transition"
    hx-get="/player/{{.CurrentSong.AudioName}}"
    hx-push-url="?song={{.CurrentSong.AudioName}}"
    hx-trigger="load once"
    hx-target="#song-player"
    hx-swap="innerHTML"
  ></div>
</div>
