<style>
  .contact h1 {
    color: white;
    font-size: 5em;
    margin: 3rem 0;
    font-weight: 400;
  }
</style>

<div
  class="is-flex contact is-flex-direction-column m-2 page-transition"
  style="height: 100%"
>
  <div
    class="is-flex is-flex-direction-column is-align-self-center is-justify-content-space-between"
  >
    <h1 class="has-text-centered mt-1 mb-3">Get in contact</h1>
    <div
      hx-get="/email"
      hx-target="this"
      hx-swap="outerHTML"
      hx-trigger="load"
      hx-push-url="false"
    ></div>

    <div class="is-flex is-justify-content-space-between">
      <h2
        class="is-flex has-text-white is-justify-content-center is-align-items-center"
      >
        Follow me ------▶︎
      </h2>

      <div class="m-4 is-flex is-flex-direction-row">
        <a
          href="https://github.com/voidKandy"
          class="is-flex is-align-items-center"
        >
          <img
            src="/static/assets/github-mark/github-mark-white.svg"
            class="is-clickable mr-2 p-0"
            alt="github-icon"
            width="20"
            height="20"
          />
        </a>
        <a
          href="https://twitter.com/KandyVoid"
          class="is-flex is-align-items-center"
        >
          <img
            src="/static/assets/twitter-logo/logo.svg"
            class="is-clickable m-0 p-0"
            alt="twitter-icon"
            width="20"
            height="20"
          />
        </a>
      </div>
    </div>
  </div>
</div>
