<div class="m-2 p-0 section is-medium is-flex page-transition">
  <div class="m-2 p-2">
    <h1
      class="title is-1 has-text-weight-bold has-text-white-ter"
      style="font-size: 15vw; white-space: nowrap"
    >
      voidkandy.<br />space
    </h1>
    <div
      class="is-flex is-justify-content-end has-text-weight-light has-text-grey-lighter"
    >
      <section class="is-flex is-flex-direction-column">
        <h5 class="is-flex is-italic is-size-6" style="margin-right: 8rem">
          Ezra Klitsie
        </h5>
      </section>
    </div>
  </div>
</div>
