{{ define "projects" }}
<style>
  .project-nav-button {
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s;
  }
  .project-nav-button:hover {
    transform: scale(1.1); /* Increase size on hover */
    background-color: #2ecc71; /* Change background color on hover */
    border-color: #2ecc71; /* Change border color on hover */
    border-radius: 10px;
    color: #fff; /* Change text color on hover */
  }
</style>
<section class="container" hx-swap="innerHTML transition:true">
  <div class="level is-flex is-justfify-content-space-between is-vcentered">
    <button
      class="level-left mx-4 project-nav-button has-text-warning-light material-symbols-outlined"
      hx-trigger="click"
      hx-get="/projects/2"
    >
      keyboard_double_arrow_left
    </button>
    <button
      class="level-right mx-4 project-nav-button has-text-warning-light material-symbols-outlined"
      hx-trigger="click"
      hx-get="/projects/0"
    >
      keyboard_double_arrow_right
    </button>
  </div>
  <div class="simple-transition" id="project-div"></div>
</section>
{{ end }}
