<script type="text/hyperscript">
  behavior ProjectListItem(path)
      init
          if path == '{{ .Path }}'
          add .selected to me
          wait for a reset
          remove .selected from me
      end
      on click
          if I do not match .selected then
              send select to me
          end
      end
      on select
          send reset to <li/> in closest parent <ul/>
          send getContent to me
          add .selected to me
          wait for a reset
          remove .selected from me
      end
  end
</script>

<style>
  .project-list {
    font-size: 3vw;
    color: #2b2b2b;
    margin-right: 2rem;
    white-space: nowrap;
  }

  .project-list li {
    cursor: pointer;
    transition:
      transform 0.2s ease-in-out,
      color 0.1s ease-in-out;
  }

  .project-list li.selected,
  .project-list li:hover {
    color: white;
    transform: scale(105%);
  }

  .project-list li:has(+ li:hover),
  .project-list li:hover + li {
    color: #a7a7a7;
    transform: scale(102%);
  }
</style>

<div
  class="page-transition"
  _="on load
        remove .page-transition from me
    end
    on htmx:trigger from .landing-list
        add .page-transition to me
    end"
>
  <header class="is-flex is-flex-direction-column m-4">
    <div style="width: max-content">
      <h1
        class="mb-0 title has-text-weight-bold has-text-white-ter"
        style="font-size: 10vw; cursor: pointer"
      >
        Projects
      </h1>
      <hr style="color: white" />
    </div>
  </header>
  <div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <section id="project-content" class="m-4">
      {{ template "project" . }}
    </section>
    <section class="project-list is-flex is-align-self-flex-start">
      <ul
        hx-target="#project-content"
        hx-select="#project-content"
        hx-push-url="true"
        hx-swap="outerHTML transition:true"
      >
        <li
          _="install ProjectListItem(path: 'espionox')"
          hx-get="/projects/espionox"
          hx-trigger="getContent"
        >
          Espionox
        </li>
        <li
          _="install ProjectListItem(path: 'bureau')"
          hx-get="/projects/bureau"
          hx-trigger="getContent"
        >
          Espionox Demo
        </li>
        <li
          _="install ProjectListItem(path: 'showbeam')"
          hx-get="/projects/showbeam"
          hx-trigger="getContent"
        >
          Showbeam
        </li>
      </ul>
    </section>
  </div>
</div>
