{{ define "project" }}
<div class="columns is-multiline">
  <div class="card column">
    <div class="card-image">
      <figure class="image">
        <img src="{{.ImagePath}}" alt="Project Preview Image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{.Name}}</p>
          <p class="subtitle is-6">{{.Description}}</p>
          {{range .Tags}}
          <span class="-mt-5 tag is-primary">{{.}}</span>
          {{end}}
        </div>
      </div>

      {{ if .Links.HasRepo }}
      <a href="{{.Links.GitUrl}}">
        <img
          src="static/assets/svg/gh-icon.svg"
          class="is-clickable"
          alt="GitHub Icon"
          width="20"
          height="20"
        />
      </a>
      {{ end }} {{ if .Links.HasWebDemo }}
      <a href="{{.Links.DemoUrl}}">Demo</a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
