<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  .post {
    display: flex;
    flex-direction: column;
    background-color: var(--desert-sand);
    padding: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    transition: all ease-in-out 180ms;
  }
  .post:hover {
    cursor: pointer;
    box-shadow: 10px 10px;
  }
  .post:hover h2 {
    font-weight: 900;
  }
</style>

<div x-style="flex; flex-col;">
  <div>
    {% for c in categories %}
    <button
      _="
        init
          {% if let Some(sel_cat) = selected_category %}
            {% if c == sel_cat %}
              send select to me          
            {% endif %}
          {% endif %}
          set :defaultGet to my @hx-get
        end  
        on mousedown
          if my.classList includes 'selected'
            send reset to <button/> in closest <div/>
            set my @hx-get to 'blog/latest'
            then call htmx.process(me)
            send getContent to me
          else 
            send reset to <button/> in closest <div/>
            send select to me
            set my textContent to 'see all'
          end
        end
        on reset 
          remove .selected from me
          set my textContent to '{{c}}'
          if my @hx-get != :defaultGet
           set my @hx-get to :defaultGet
           then call htmx.process(me)
          end
        end
        on select 
          add .selected to me 
          send getContent to me
        end"
      class="light-button"
      x-style="text-decoration: underline;"
      hx-get="blog/latest?category={{c|sanitize_for_url}}"
      hx-trigger="getContent"
      hx-push-url="false"
      hx-target="#posts"
      hx-select="#posts"
      hx-swap="outerHTML"
      style="cursor: pointer !important"
    >
      {{c}}
    </button>
    {% endfor %}
  </div>
  <div id="posts" class="grid-container">
    {% for post in posts %}
    <div
      class="post"
      hx-get="/blog?post={{post.title|sanitize_for_url}}"
      hx-target="#blogs-content"
      hx-select="#blogs-content"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="mousedown"
    >
      <h2 x-style="my:0.5rem;">{{ post.title }}</h2>
      <h4 x-style="mt:0;">{{ post.subtitle }}</h4>
      {% if let Some(cat) = post.category %}
      <p
        x-style="bg:@bright-pink; w:fit-content; p:0.4rem; 
        radius:lg; font-size: 0.6rem; align-self:flex-end; m:0;"
      >
        {{cat}}
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
