<script type="text/hyperscript">
  behavior MarkdownBlock
    init immediately
      measure me then set :w to the result.width
      measure me then set :h to the result.height
      set @width of <img/> in me to :w * 0.60
      set :codeblocks to <code/> in me
      repeat for code in :codeblocks
        set :c to code.textContent
        set code.outerHTML to :c
      end
    end
  end
</script>

<style>
  #markdown-block img {
    align-self: center;
  }
  #markdown-block a {
    color: var(--cambridge-blue);
  }
  #markdown-block {
    color: whitesmoke;
  }
  #markdown-block h1,
  #markdown-block h2,
  #markdown-block h3,
  #markdown-block h4,
  #markdown-block h5,
  #markdown-block h6 {
    color: var(--desert-sand);
  }
</style>

{% if let Some(post) = post_opt %}
<div
  x-style="flex; flex-col; justify-content:center;
  color:@desert-sand; background-color: @dim-grey;
  lg|p:5rem; p:1rem;"
>
  {% if let Some(user) = user_opt %} {% if user.admin %}
  <div x-style="flex; flex-row; justify-content:space-between;">
    <div
      hx-get="/admin/update/{{post.title|sanitize_for_url}}"
      hx-push-url="false"
      hx-target="this"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></div>
    <button
      class="material-symbols-outlined material-symbols-button"
      hx-delete="/admin/delete/{{post.title|sanitize_for_url}}"
      hx-push-url="false"
      hx-target="this"
      hx-swap="outerHTML"
    >
      close
    </button>
  </div>
  {% endif %} {% endif %}

  <div x-style="flex; flex-col; justify-content:space-between;">
    <button
      class="material-symbols-button material-symbols-outlined"
      x-style="align-self:flex-start;"
      hx-get="/blog"
      hx-target="#blogs-content"
      hx-select="#blogs-content"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="mousedown"
    >
      arrow_back
    </button>
    {% if let Some(cat) = post.category %}
    <h2
      x-style="font-size: 0.7rem; align-self:flex-end; 
    width:fit-content; radius:lg; background-color:@desert-sand;
    color: @dim-grey;  mt:0; mb:1; px:0.5rem;"
    >
      {{cat}}
    </h2>
    {% endif %}
  </div>
  <h1
    x-style="mb:0; mt:3; ml:1; font-size: 2rem; text-align:left; text-shadow: 0 0 2px @desert-sand;"
  >
    {{post.title}}
  </h1>
  <h2
    x-style="ml:1;mt:0; mb:1; font-size:1.5rem; font-weight:0;text-align:left;"
  >
    {{post.subtitle}}
  </h2>
  <hr style="border-color: var(--desert-sand); border-width: 0.25px" />
  <div
    x-style="lg|mr:15rem; lg|ml:2rem; mr:2rem; ml:1rem;"
    id="markdown-block"
    _="install MarkdownBlock"
  >
    {% for c in post.content %} {{c|safe}} {% endfor %}
  </div>
</div>

{% endif %}
