{{ define "layout" }}
<!-- add @hx-get='`path`' to me -->
<script type="text/hyperscript">
  behavior LandingListItem
     init
          set :path to my id
          add .clickable to me
          set :c to my textContent
          if '{{ .Path }}' includes :path or pathname of the location of the window includes :path
              send select to me
          end
      end
      on click
          if I do not match .selected then
              send select to me
          end
      end
      on select
          send reset to <li/> in closest parent <ul/>
          send getContent to me
          add .selected to me
          put '◉' into me
          wait for a reset
          put :c into me
          remove .selected from me
      end
  end
</script>

<div id="background" hx-swap-oob="true" class="noise-bg">
  <div class="noise-slide"></div>
  <div class="noise-slide"></div>
</div>
<div
  class="is-overlay main-tile is-flex is-flex-direction-column is-justify-content-space-between"
>
  <div
    id="route-content"
    hx-target="this"
    hx-trigger="init"
    hx-swap="innerHtml transition:true"
    hx-get="{{.Path}}{{.Params}}"
    hx-push-url="true"
  ></div>

  <div
    id="footer"
    class="mx-4 my-2 is-flex is-flex-direction-row is-justify-content-space-between"
  >
    <ul
      id="footer-left"
      class="is-flex is-flex-direction-column landing-list is-justify-content-center"
      hx-target="#route-content"
      hx-swap-oob="true"
      hx-swap="innerHtml transition:true"
      hx-push-url="true"
    >
      <li
        tabindex="0"
        id="landing"
        _="install LandingListItem"
        hx-trigger="getContent"
        hx-get="/landing"
      >
        /.
      </li>
      <li
        tabindex="1"
        id="projects"
        _="install LandingListItem"
        hx-trigger="getContent"
        hx-get="/projects/espionox"
      >
        /projects
      </li>
      <li
        tabindex="2"
        id="about"
        _="install LandingListItem"
        hx-trigger="getContent"
        hx-get="/about"
      >
        /about
      </li>
      <li
        tabindex="3"
        id="contact"
        _="install LandingListItem"
        hx-trigger="getContent"
        hx-get="/contact"
      >
        /contact
      </li>
    </ul>
    <div id="spinny-switcher" hx-swap="innerHTML" hx-swap-oob="true">
      <h1
        class="material-symbols-outlined clickable"
        hx-trigger="click"
        hx-get="/art/ADAB?song=sgitf"
        hx-target="#route-content"
        hx-push-url="true"
        hx-swap="innerHTML transition:true"
      ></h1>
      <img src="/static/assets/dev-text.svg" alt="SpinnyGuy" />
    </div>
  </div>
</div>
{{ end }}
