<link rel="stylesheet" href="/public/styles/global.css" />
<div
  style="
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  "
>
  <h1
    style="
      font-size: 5rem;
      font-weight: 900;
      text-align: center;
      margin: 0rem 0rem 0rem 1rem;
    "
  >
    404
  </h1>
  <p>It seems you've travelled somewhere you shouldn't be</p>
  <a
    href="/"
    class="button"
    style="align-self: center; text-decoration-line: none"
    >Take me Back!</a
  >
</div>
