.main-tile {
  background: linear-gradient(10deg, rgba(0, 0, 0, 1), rgba(255, 255, 0, 0));
  margin: 1%;
  border: 1px dotted transparent;
  border-color: white;
  overscroll-behavior: none;
}

.landing-list {
  display: inline-block;
}

.landing-list li {
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

#spinny-switcher {
  width: 8.5em;
  height: 8.5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s ease;
  transition: all 0.2s ease;
}

#spinny-switcher h1 {
  position: absolute;
  font-size: 2em;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (max-width: 768px) {
  #spinny-switcher h1:before {
    content: "keyboard";
  }
  #spinny-switcher h1.art:before {
    content: "music_note";
  }
}

@media (min-width: 768px) {
  #spinny-switcher h1:hover {
    color: white;
    font-size: 2.1em;
    transform: translateX(-25%);
  }

  #spinny-switcher h1::before {
    content: "keyboard";
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  #spinny-switcher h1.art::before {
    content: "music_note";
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  #spinny-switcher h1:hover::before {
    opacity: 0;
  }

  #spinny-switcher h1:hover::after {
    content: "music_note";
    opacity: 1;
    visibility: visible;
  }

  #spinny-switcher h1.art:hover::after {
    content: "keyboard";
    opacity: 1;
    visibility: visible;
  }
}

#spinny-switcher img {
  width: 100%;
  height: 100%;
  animation: rotateCircle 20s linear infinite;
}

@keyframes rotateCircle {
  to {
    transform: rotate(1turn);
  }
}
