{{ define "project" }}
<style>
  .project-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .project-tag {
    font-size: 1.2vw;
    color: #5e5e5e;
    white-space: nowrap;
  }

  .project-tag.not-last::after {
    content: "\00a0●\00a0";
    color: #878787;
  }
</style>

<div class="is-flex is-flex-direction-column project-transition">
  <header class="m-0 p-0 is-flex is-flex-direction-rows">
    <h2 class="is-flex project-name">{{.Name}}</h2>
    {{ if .Links.HasRepo }}
    <a href="{{.Links.GitUrl}}" class="is-flex is-align-items-center ml-5">
      <img
        src="/static/assets/github-mark/github-mark-white.svg"
        class="is-clickable m-0 p-0 is-flex"
        alt="github-icon"
        width="20"
        height="20"
      />
    </a>
    {{ end }}
  </header>
  <ul class="is-flex-direction-row is-flex is-align-content-center ml-2">
    {{ $length := len .Tags }} {{range $index, $tag := .Tags}}
    <span
      class="project-tag"
      _="
      on load
        if {{$index}} is less than {{$length}} - 1
            add .not-last to me
        end
      end
        "
    >
      {{$tag}}</span
    >
    {{end}}
  </ul>

  <p class="subtitle is-6 has-text-white" style="margin-right: 1.25rem">
    {{.Description}}
  </p>
  {{ if .Links.HasWebDemo }}
  <div>
    <a class="clickable" href="{{.Links.DemoUrl}}">Check out a demo</a>
  </div>
  {{ end }}
</div>
{{ end }}
