<div x-style="flex; flex-row; justify-content:center; lg|my:0; my:1; mx:3;">
  {% if let Some(user) = user %}
  <button
    x-style="align-self:center;"
    class="button"
    hx-get="/data/auth/logout"
    hx-push-url="false"
    _="on htmx:afterRequest reload() the location of the window end"
  >
    Logout
  </button>
  {% else %}
  <button
    x-style="mr:3;"
    class="button"
    hx-get="/user/register"
    hx-target="#route-content"
    _="install NavListChoice(path: '/user/register')"
  >
    Register
  </button>
  <button
    class="button"
    hx-get="/user/login"
    hx-target="#route-content"
    _="install NavListChoice(path: '/user/login')"
  >
    Login
  </button>
  {% endif %}
</div>
